@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: white;
    color: #111;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.watermark {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 800px; /* adjust size */
    height: 800px;
    background: url('/rhino-tribe-watermark.png') no-repeat center center;
    background-size: contain;
    opacity: 0.05; /* subtle effect */
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 0;
}
